*{
      font-family: "Stack Sans Headline", sans-serif;

} 

.navbar {
    z-index: 1020;
    position: fixed; 
    top: 0;         
    left: 0;        
}

/* Header *
}

/* Body */

    
/* FOOTER  */
.logosfooter{
    width: 2rem
    }